{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password
{% endblock title %}

{% block content %}

    <h1>Reset your password</h1>

    {% if validlink %}
    <p>Please enter your password twice: </p>
    <form action="." method="post">

        {{ form.new_password1|as_crispy_field}}
        {{ form.new_password2|as_crispy_field}}
        {% csrf_token %}
        <p><input class="btn btn-success btn-block" type="submit" value="Send"></p>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.</p>
    {% endif %}


{% endblock content %}