{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password reset
{% endblock title %}

{% block content %}
    <div class="container mt-4" style="color: #7B89AA;">
        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Reset your password</h2>
        <hr class="mt-2 mb-5">
        <p class="col-md-6 mx-auto"->Enter your e-mail address to obtain a new password.</p>
        <div class="col-md-6 mx-auto">
            <form action="." method="post">
                {{ form.email|as_crispy_field}}
                {% csrf_token %}
                <p><input class="btn btn-success btn-block" type="submit" value="Send"></p>
            </form>
        </div>


    </div>


{% endblock content %}