{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Images bookmarked{% endblock %}

{% block content %}
  <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: #7B89AA;">Meme gallery <span><a href="{% url 'images:create' %}" style="color: #7B89AA;"><i class="fas fa-trophy float-right"></i></a></span></h2>
  <hr class="mt-2 mb-5">
  <div class="row" id="image-list">
    {% include "images/image/list_ajax.html" %}
  </div>
{% endblock %}

{% block domready %}
  var page = 1;
  var empty_page = false;
  var block_request = false;

  $(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
     block_request = true;
      page += 1;
      $.get('?page=' + page, function(data) {
       if(data == '') {
          empty_page = true;
        }
        else {
          block_request = false;
          $('#image-list').append(data);
        }
      });
    }
  });
{% endblock %}