{% extends "base.html" %}

{% block title %}Dashboard
{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard. You can edit your profile
    <a href="{% url 'edit'%}">here</a> and change your password
    <a href="{% url 'password_change'%}">here</a>.

    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard. You have pinned {{ total_images_created }} image{{total_images_created|pluralize}}.</p>

        <p>Drag the following button to your bookmarks toolbar to pin images from other websites -> <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="btn btn-success"><i class="fas fa-thumbtack"></i> Pin</a></p>
    {% endwith %}
{% endblock content %}