{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Create an account
{% endblock title %}

{% block content %}

    <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: #7B89AA;">Create an account</h2>
    <hr class="mt-2 mb-5">
    <div class="col-md-6 mx-auto">
        <form action="." method="post">
        {{ user_form.username|as_crispy_field }}
        {{ user_form.first_name|as_crispy_field }}
        {{ user_form.email|as_crispy_field }}
        {{ user_form.password|as_crispy_field }}
        {{ user_form.password2|as_crispy_field }}

            {% csrf_token %}
            <p><input type="submit" class="btn btn-success btn-block" value="Register"></p>
        </form>
    </div>
{% endblock content %}